<p id="notice"><%= notice %></p>

<h3>Dashboard</h3>
<% @users.each do |user| %>
  <div class="row">

    <div  class="large-6 columns">
      <h5><%= link_to user.email, user %></h5>
    </div>

    <div  class="large-2 columns">
      <h5><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small button round' %></h5>
    </div>

    <div  class="large-2 columns">
      <h5><%= link_to authorize_user_text(user), toggle_authorization_user_path(user), method: :post, class: 'small button round' %></h5>
    </div>

    <div  class="large-2 columns">
      <h5><%= link_to join_team_text(user), join_team_user_path(user), method: :post, class: 'small button round' %></h5>
    </div>
  </div>

<% end %>
