<p id="notice">	<%= notice %></p>

<div class="row">
  <div class="text-center">
    <div class ="user">
      <%= image_tag @user.image_url.to_s %>
      <br><br><br><br>
      </div>
  		
        		<h4><%= @user.name %></h4> <br>
  		<h4><i><%= @user.email %></i></h4><br>	
  		<h4><%= @user.about %></h4><br>
  		<h4><%= @user.signature %></h4><br>	
  			<div class="row">	
  				<%= link_to 'Edit', edit_user_path(@user) %> |				
				<%= link_to 'Back', users_path %> 
			</div>
  </div>
</div>






