<p id="notice"><%= notice %></p>

<p>
  <strong>[name:</strong>
  <%= @user.[Name %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.About %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
