<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<% if current_user.is_authorized  %>
	<div class="right">
	  <%= link_to 'New Post', new_post_path, class: 'button round' %>
	</div>
<% end %>


<div class="row">
  <%= link_to "All posts", posts_path %>
  <% Post.post_categories.each do |c| %>
    <%= link_to c, posts_path(category: c) %>
  <% end %>
</div>


<% @posts.each do |post| %>
  <h4><small><i class="fa fa-calendar"></i> <%= post.created_at.strftime('%d %b %Y') %></small></h4>
  <h1><%= link_to post.title, post_path(post) %></h1>
<% end %>
