<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Biscode" %></title>
   <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans|Raleway:900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- header -->
    <header class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/"><%= image_tag('logo.png', width:'65', height:'65') %> BISCODE</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li>
              <%= link_to root_path do %>
              <i class="fa fa-home"></i> <b>Home</b>
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
              <b>About</b>
              <% end %>
            </li>
            <% if current_user %>
              <li>
                <%= link_to current_user do %>
                <i class="fa fa-gear"></i> <b>Profile</b>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-power-off"></i> <b>Sign out</b>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                  <b>Sign In</b>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <b>Sign Up</b>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      </nav>
    </header>
    <!-- header end -->

    <!-- main content -->
    <div class="row">
      <div class="small-10 medium-10 large-12 small-centered large-centered columns" role="content">
        <div class="white-font">
        <article>
        <%= yield %>
        </article>
        </div>
      </div>
    </div>
    <!-- main content end -->

    <footer>
      <div class="row text-center">
        <br>
        <div class="large-4 columns">
          <h5>
            <a href="#" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
          </h5>
        </div>

        <div class="large-4 columns">
          <h5>&#169; 2015 BISCODE</h5>
        </div>

        <div class="large-4 columns">
          <h5>Made with Biscuits in Cairo, Egypt</h5>
        </div>
      </div>
    </footer>
    <!-- <footer>
      <hr>
      <div class="footer text-center">
        <h5>
          2015 &#169; BISCODE
        </h5>
        </div>
    </footer> -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
